@model CanchasGambeta.Models.Usuario
@{
    ViewBag.Title = "ModificarCliente";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center">Actualizar mis datos</h3>
        @using (Html.BeginForm("ModificarCliente", "Cliente", FormMethod.Post, new { onsubmit = "return validacionModificarUsuario();" }))
        {
            @Html.HiddenFor(Model => Model.idUsuario)
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Nombre Completo</label>
                    @Html.TextBoxFor(Model => Model.nombreCompleto, htmlAttributes: new { @class = "form-control", id = "txtNombre" })
                </div>
                <div class="form-group">
                    <label class="control-label">Correo electrónico</label>
                    @Html.TextBoxFor(Model => Model.email, htmlAttributes: new { @class = "form-control", id = "txtEmail" })
                </div>
                <div class="form-group">
                    <label class="control-label">Teléfono</label>
                    @Html.TextBoxFor(Model => Model.telefono, htmlAttributes: new { maxlength = 10, @class = "form-control", id = "txtTelefono" })
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña</label>
                    <input type="password" name="password" id="txtPassword" class="form-control" value="@Model.password" />
                </div>
                <div class="form-group">
                    <label class="control-label">Confirmar Contraseña</label>
                    <input type="password" name="ConfirmarPassword" id="txtConfirmarPassword" class="form-control" value="@Model.password" />
                </div>
                <div class="form-group text-left">
                    <button class="btn btn-success" type="submit">
                        Guardar cambios
                    </button>
                    @Html.ActionLink("Cancelar", "PerfilCliente", "Cliente", null, new { @class = "text-center btn btn-warning" })
                </div>
                <div class="form-label-group text-danger" style="margin-left:10px">
                    @ViewBag.ErrorActualizarUsuario
                    @ViewBag.EmailYaRegistrado
                </div>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>

<script src="~/Scripts/validacionModificarUsuario.js"></script>