@model CanchasGambeta.ViewModels.VistaReserva
@{
    ViewBag.Title = "MisReservas";
    List<SelectListItem> canchas = (List<SelectListItem>)ViewBag.canchas;
    List<SelectListItem> horarios = (List<SelectListItem>)ViewBag.horarios;
    List<SelectListItem> insumos = (List<SelectListItem>)ViewBag.insumos;
}

<div class="container">
    <div class="row" style="transform: translateY(60px);">
        <div class="col-md-6">
            <div>
                <h3 class="text-center" style="color:white">Mis reservas</h3>
            </div>
        </div>
    </div>
</div>

<div class="row" style="transform: translateY(60px); color:white">
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        Reserva
                    </th>
                    <th class="text-center acciones" style="display:none">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listado in Model.TablaReservaVM)
                {
                    <tr class="text-center">
                        @{
                            if (listado.ServicioAsador && listado.ServicioInstrumento)
                            {
                                <td>@listado.Fecha - @listado.Horario - @listado.Cancha (Servicio Asador: Si - Servicio Instrumentos: Si)</td>
                            }
                            else if (listado.ServicioAsador && !listado.ServicioInstrumento)
                            {
                                <td>@listado.Fecha - @listado.Horario - @listado.Cancha (Servicio Asador: Si - Servicio Instrumentos: No)</td>
                            }
                            else if (!listado.ServicioAsador && listado.ServicioInstrumento)
                            {
                                <td>@listado.Fecha - @listado.Horario - @listado.Cancha (Servicio Asador: No - Servicio Instrumentos: Si)</td>

                            }
                            else
                            {
                                <td>@listado.Fecha - @listado.Horario - @listado.Cancha (Servicio Asador: No - Servicio Instrumentos: No)</td>
                            }
                        }
                        <td class="text-center acciones" style="display:none">
                            <div class="btn-group">
                                <a href="@Url.Action("ModificarReserva", "Reserva", new {@idReserva = listado.IdReserva})" class="btn btn-warning m-1">Modificar</a>
                                <a href="@Url.Action("EliminarReserva", "Reserva", new {@idReserva = listado.IdReserva})" class="btn btn-danger m-1">Eliminar</a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <div class="p-3 text-center">
            <button id="btnAccionesReserva" class="btn btn-info" onclick="botonAcciones()">Editar reservas</button>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="p-1">Llene los siguientes campos para concretar una reserva:</h4>
        @using (Html.BeginForm("NuevaReserva", "Reserva", FormMethod.Post, new { onsubmit = "return validacionNuevaReserva();" }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Fecha</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(Model => Model.NuevaReservaVM.Fecha, new { @type = "date", @class = "form-control datepicker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Cancha</label>
                            <div class="col-sm-6">
                                @Html.DropDownList("idCancha", canchas, "Seleccione una cancha", htmlAttributes: new {@onchange="", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Horario</label>
                            <div class="col-sm-6">
                                @Html.DropDownList("idHorario", horarios, "Seleccione el horario", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Servicio asador</label>
                                @Html.CheckBoxFor(Model => Model.NuevaReservaVM.ServicioAsador)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Servicio instrumentos</label>
                                @Html.CheckBoxFor(Model => Model.NuevaReservaVM.ServicioInstrumento)
                            </div>
                        </div>

                        <table class="table table-bordered table-striped" id="tablaInsumos" style="width:60%; display:none">
                            <tbody>
                                @foreach (var insumo in Model.NuevaReservaVM.ListaInsumos)
                                {
                                    <tr class="text-center">
                                        <td>
                                            @Html.HiddenFor(Model => insumo.idInsumo)
                                            @insumo.insumo1 ($@insumo.precio)
                                        </td>
                                        <td>
                                            <input type="number" name="cantidad" class="form-control txtCantInsumo" max="5" min="0" placeholder="0" style="width:70px;"/>                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="form-group text-center">
                            <div class="col-xs-12">
                                <button type="button" id="btnAccionesReserva" class="btn btn-primary" onclick="botonInsumos()">Agregar insumos</button>
                                <button class="btn btn-success" type="submit">Registrar reserva</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-label-group text-danger" style="margin-left:10px">
                @ViewBag.ErrorInsertReserva
            </div>
        }
    </div>
</div>

<script src="~/Scripts/scriptReservas.js"></script>

