@model CanchasGambeta.ViewModels.ActualizarReservaVM
@{
    ViewBag.Title = "ModificarReserva";
    List<SelectListItem> canchas = (List<SelectListItem>)ViewBag.canchas;
    List<SelectListItem> horarios = (List<SelectListItem>)ViewBag.horarios;
}

<div class="row" style="transform: translateY(60px); color:white">
    <div class="col-md-6">
        <h4 class="p-1">Llene los siguientes campos para concretar una reserva:</h4>
        @using (Html.BeginForm("ModificarReserva", "Reserva", FormMethod.Post, new { onsubmit = "return validacionModificarReserva();" }))
        {
            @Html.HiddenFor(Model => Model.IdReserva)
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Fecha</label>
                            <div class="col-sm-6">
                                <!--<input hidden type="datetime" id="fechaReserva" name="fechaReserva" value="Model.Fecha" class="form-control datepicker" />-->
                                @Html.TextBoxFor(model => model.Fecha, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control", id = "fechaNuevaReserva", name = "fechaNuevaReserva" }) <!--comprobar id y name para el controlador-->
                                <!--<input type="date" id="fechaNuevaReserva" name="fechaNuevaReserva" value="Model.Fecha" class="form-control datepicker" />-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Cancha</label>
                            <div class="col-sm-6">
                                <select name="idCancha" id="idCancha" data-val="true" class="form-control">
                                    <option value="">Seleccione una cancha</option>
                                    @foreach (var item in canchas)
                                    {
                                        if (item.Selected)
                                        {
                                            <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Horario</label>
                            <div class="col-sm-6">
                                <select name="idHorario" id="idHorario" data-val="true" class="form-control">
                                    <option value="">Seleccione un horario</option>
                                    @foreach (var item in horarios)
                                    {
                                        if (item.Selected)
                                        {
                                            <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Servicio asador</label>
                                @Html.CheckBoxFor(Model => Model.ServicioAsador)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Servicio instrumentos</label>
                                @Html.CheckBoxFor(Model => Model.ServicioInstrumento)
                            </div>
                        </div>

                        <table class="table table-bordered table-striped" id="tablaInsumos" style="width:60%;">
                            <tbody>
                                @foreach (var insumo in Model.ListaInsumosEnLaReserva)
                                {
                                    if (insumo.stock < 5)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @insumo.insumo1 ($@insumo.precio)
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <input type="hidden" name="idInsumo" id="idInsumo" value="@insumo.idInsumo" />
                                                    <input  type="number" name="cantidad" class="form-control txtCantInsumo" max="@insumo.cantidad" min="0" placeholder="@insumo.cantidad" value="@insumo.cantidad" style="width:70px;" />
                                                    <bold>No hay stock disponible para agregar más de este insumo</bold>
                                                </div>                                      
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @insumo.insumo1 ($@insumo.precio)
                                            </td>
                                            <td>
                                                <input type="hidden" name="idInsumo" id="idInsumo" value="@insumo.idInsumo" />
                                                <input type="number" name="cantidad" class="form-control txtCantInsumo" max="5" min="0" placeholder="@insumo.cantidad" value="@insumo.cantidad" style="width:70px;" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <div class="form-group text-center">
                            <div class="col-xs-12">
                                <button class="btn btn-success" type="submit">Actualizar reserva</button>
                            </div>
                        </div>
                        <div class="form-label-group text-danger" style="margin-left:10px">
                            @ViewBag.ErrorModificarReserva
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/scriptModificarReserva.js"></script>


