@model CanchasGambeta.ViewModels.VistaModificarInsumosReserva
@using CanchasGambeta.Models 
@{
    ViewBag.Title = "ModificarInsumosReserva";
    var sesion = (Usuario)HttpContext.Current.Session["User"];
}

<div class="row" style="transform: translateY(60px); color:white">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4 class="text-center">Modificar insumos seleccionados de la reserva Nº @ViewBag.idReserva</h4>
        @using (Html.BeginForm("BuscarInsumoModificar", "Reserva", FormMethod.Post))
        {
            <input type="hidden" name="idReserva" value="@ViewBag.idReserva" class="form-control" readonly />
            <div class="form-horizontal">
                <div class="col-md-12 form-group btn-group">
                    <input type="hidden" name="buscarInsumoAnterior" value="@ViewBag.nombreInsumo" class="form-control" />
                    @if (ViewBag.nombreInsumo != null)
                    {
                        <input type="text" id="buscarInsumo" name="buscarInsumo" value="@ViewBag.nombreInsumo" class="form-control" />
                    }
                    else
                    {
                        <input type="text" id="buscarInsumo" name="buscarInsumo" class="form-control" />
                    }
                    <button type="submit" class="btn btn-primary ml-2" id="botonBuscar">Buscar</button>
                </div>
            </div>
            <div class="form-label-group text-danger pb-2">
                @ViewBag.ErrorBuscarInsumo
            </div>
            <div style="display:none">
                @foreach (var item in Model.InsumosAPedir)
                {
                    <input type="hidden" name="listaIdInsumoAlPedido" value="@item.IdInsumo" />
                    <input type="text" name="listaNombreInsumoAlPedido" class="form-control" placeholder="@item.Insumo" value="@item.Insumo" readonly />
                    <input type="number" name="listaCantidadInsumoAlPedido" class="form-control" min="0" value="@item.Cantidad" readonly />
                }
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h4 class="text-center">Insumos encontrados</h4>
        @if (Model.BuscarInsumos.Count != 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Insumo
                        </th>
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listado in Model.BuscarInsumos)
                    {
                        using (Html.BeginForm("AgregarInsumosAReserva", "Reserva", FormMethod.Post))
                        {

                            <tr>
                                <td>
                                    <input type="hidden" name="idReserva" value="@ViewBag.idReserva" class="form-control" readonly />
                                    <input type="hidden" name="buscarInsumoAnterior" value="@ViewBag.nombreInsumo" class="form-control" />
                                    <input type="hidden" name="idInsumo" value="@listado.IdInsumo" />
                                    <input type="text" name="nombreInsumo" class="form-control" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                                </td>
                                <td class="text-center">
                                    @foreach (var item in Model.InsumosAPedir)
                                    {
                                        <input type="hidden" name="listaIdInsumoAlPedido" value="@item.IdInsumo" />
                                        <input type="text" name="listaNombreInsumoAlPedido" class="form-control" placeholder="@item.Insumo" value="@item.Insumo" readonly style="display:none;" />
                                        <input type="number" name="listaCantidadInsumoAlPedido" class="form-control" min="0" value="@item.Cantidad" readonly style="display:none;" />
                                    }
                                    <button type="submit" class="btn btn-warning">Agregar</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="form-label-group text-danger pb-2">
                @ViewBag.insumoYaExiste
            </div>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Insumo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            No existe este insumo
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                @foreach (var listado in Model.InsumosAPedir)
                {
                    <input type="hidden" name="idReserva" value="@ViewBag.idReserva" class="form-control" readonly />
                    <input type="hidden" name="listaIdInsumoAlPedido" value="@listado.IdInsumo" />
                    <input type="hidden" name="listaNombreInsumoAlPedido" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                    <input type="hidden" name="listaCantidadInsumoAlPedido" class="form-control cantidadInsumo" min="0" value="@listado.Cantidad" readonly style="width:90px;" />
                }
            </div>
        }
    </div>
    <div class="col-md-5">
        <h4 class="text-center">Insumos a pedir</h4>
        @if (Model.InsumosAPedir.Count != 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Insumo
                        </th>
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listado in Model.InsumosAPedir)
                    {
                        using (Html.BeginForm("QuitarInsumoModificar", "Reserva", FormMethod.Post))
                        {
                            <tr>
                                <td class="text-center">
                                    <input type="hidden" name="idReserva" value="@ViewBag.idreserva" class="form-control" readonly />
                                    <input type="hidden" name="IdInsumoAlPedido" value="@listado.IdInsumo" />
                                    <input type="text" name="NombreInsumoAlPedido" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                                </td>
                                <td class="text-center">
                                    @foreach (var item in Model.InsumosAPedir)
                                    {
                                        <input type="hidden" name="listaIdInsumoAlPedido" value="@item.IdInsumo" />
                                        <input type="text" name="listaNombreInsumoAlPedido" class="form-control" placeholder="@item.Insumo" value="@item.Insumo" readonly style="display:none;" />
                                        <input type="number" name="listaCantidadInsumoAlPedido" class="form-control" min="0" value="@item.Cantidad" readonly style="display:none;" />
                                    }
                                    <button type="submit" class="btn btn-warning">Quitar</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Insumo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            No hay insumos guardados todavía
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-1"></div>
</div>

<hr />

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        @if (Model.InsumosAPedir.Count != 0)
        {
            <h4 class="text-center">Modificar cantidades y finalizar</h4>
            using (Html.BeginForm("ModificarInsumosReserva", "Reserva", FormMethod.Post))
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Insumo
                            </th>
                            <th class="text-center">
                                Cantidad
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listado in Model.InsumosAPedir)
                        {
                            <tr>
                                <td class="text-center">
                                    <input type="hidden" name="idReserva" value="@ViewBag.idReserva" class="form-control" readonly />
                                    <input type="hidden" name="IdInsumoAlPedido" value="@listado.IdInsumo" style="display:none" />
                                    <input type="text" name="NombreInsumoAlPedido" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                                </td>
                                <td class="text-center">
                                    <input type="number" name="CantidadInsumoAlPedido" class="form-control cantidadInsumo" min="0" max="5" placeholder="@listado.Cantidad" value="@listado.Cantidad" style="width:90px;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    @if (sesion.equipo != null)
                    {
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Notificar a mi equipo</label>
                                @Html.CheckBox("enviarMails", false)
                            </div>
                        </div>
                    }
                    <button type="submit" class="btn btn-success mr-2">Finalizar</button>
                    @Html.ActionLink("Cancelar", "MisInsumos", "Insumo", null, new { @class = "text-center btn btn-warning" })
                </div>                
                <div class="form-label-group text-danger pb-2">
                    @ViewBag.cantidadIgualCero
                    @ViewBag.ErrorModificarPedido
                </div>
            }
        }
    </div>
    <div class="col-md-3"></div>
</div>
