@model CanchasGambeta.ViewModels.ActualizarReservaVM
@using CanchasGambeta.Models
@{
    ViewBag.Title = "ModificarReserva";
    if (ViewBag.idCanchaReserva == null) { ViewBag.idCanchaReserva = 0; }
    if (ViewBag.fechaReserva == null) { ViewBag.fechaReserva = DateTime.Today; }
    var sesion = (Usuario)HttpContext.Current.Session["User"];
}

<div class="row" style="transform: translateY(60px); color:white">
    <div class="col-md-6">
        <h4 class="p-1">Modifique los campos que desee para actualizar la reserva:</h4>
        @using (Html.BeginForm("ModificarReserva", "Reserva", FormMethod.Post, new { onsubmit = "return validacionModificarReserva();", @id = "idModificarReserva" }))
        {
            @Html.HiddenFor(Model => Model.IdReserva)
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Fecha</label>
                            <div class="col-sm-6">
                                <input type="hidden" name="fechaReserva" value="@ViewBag.fechaReserva" />
                                @Html.TextBoxFor(model => model.Fecha, "{0:yyyy-MM-dd}", htmlAttributes: new { onchange = "document.getElementById('idModificarReserva').submit()", @type = "date", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Cancha</label>
                            <div class="col-sm-6">
                                <input type="hidden" name="idCanchaReserva" value="@ViewBag.idCanchaReserva" />
                                <select name="idCancha" id="idCancha" data-val="true" class="form-control" onchange="document.getElementById('idModificarReserva').submit()">
                                    <option value="">Seleccione una cancha</option>
                                    @foreach (var item in Model.Canchas)
                                    {
                                        if (item.Selected)
                                        {
                                            <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Horario</label>
                            <div class="col-sm-6">
                                @if (ViewBag.idHorarioReserva == null)
                                {
                                    <input type="hidden" name="idHorarioReserva" value="0" />
                                }
                                else
                                {
                                    <input type="hidden" name="idHorarioReserva" value="@ViewBag.idHorarioReserva" />
                                }
                                <select name="idHorario" id="idHorario" data-val="true" class="form-control">
                                    @if (ViewBag.idHorarioReserva == null)
                                    {
                                        <option value="">Seleccione un horario</option>
                                    }
                                    else if (Model.IdHorario == ViewBag.idHorarioReserva)
                                    {
                                        <option value="@Model.IdHorario" selected>@Model.Horario</option>
                                    }
                                    @foreach (var item in Model.Horarios)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Servicio asador</label>
                                @Html.CheckBoxFor(Model => Model.ServicioAsador)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Servicio instrumentos</label>
                                @Html.CheckBoxFor(Model => Model.ServicioInstrumento)
                            </div>
                        </div>
                        @if (sesion.equipo != null)
                        {
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label">Enviar email a mis compañeros de equipo</label>
                                    @Html.CheckBoxFor(Model => Model.EnviarMails)
                                </div>
                            </div>
                        }
                        <table class="table table-bordered table-striped" id="tablaInsumos" style="width:60%;">
                            <tbody>
                                @foreach (var insumo in Model.ListaInsumosEnLaReserva)
                                {
                                    if (insumo.stock < 5)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @insumo.insumo1 ($@insumo.precio)
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <input type="hidden" name="listaidInsumos" id="idInsumo" value="@insumo.idInsumo" />
                                                    <input type="number" name="listaInsumosActualizados" class="form-control txtCantInsumo" max="@insumo.cantidad" min="0" placeholder="@insumo.cantidad" value="@insumo.cantidad" style="width:70px;" />
                                                    <bold>No hay stock disponible para agregar más de este insumo</bold>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @insumo.insumo1 ($@insumo.precio)
                                            </td>
                                            <td>
                                                <input type="hidden" name="listaidInsumos" id="idInsumo" value="@insumo.idInsumo" />
                                                <input type="number" name="listaInsumosActualizados" class="form-control txtCantInsumo" max="5" min="0" placeholder="@insumo.cantidad" value="@insumo.cantidad" style="width:70px;" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <div class="form-group text-left">
                            <div class="col-xs-12">
                                <button class="btn btn-success" type="submit">Actualizar reserva</button>
                                @Html.ActionLink("Cancelar", "MisReservas", "Reserva", null, new { @class = "text-center btn btn-warning" })
                            </div>
                        </div>
                        <div class="form-label-group text-danger" style="margin-left:10px">
                            @ViewBag.ErrorModificarReserva
                            @ViewBag.sinHorario
                            @ViewBag.sinModificacion
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/scriptModificarReserva.js"></script>


