@model CanchasGambeta.Models.Insumo
@{
    ViewBag.Title = "AgregarInsumo";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h4 class="p-1 text-center">Cargar nuevo insumo</h4>
        @using (Html.BeginForm("AgregarInsumo", "Insumo", FormMethod.Post, new { onsubmit = "return validacionNuevoInsumo();" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    @Html.TextBoxFor(Model => Model.insumo1, htmlAttributes: new { @class = "form-control", id = "txtInsumo" })
                </div>
                <div class="form-group">
                    <label class="control-label">Precio</label>
                    @Html.TextBoxFor(Model => Model.precio, htmlAttributes: new { @class = "form-control", id = "txtPrecio" })
                </div>
                <div class="form-group">
                    <label class="control-label">Stock</label>
                    @Html.TextBoxFor(Model => Model.stock, htmlAttributes: new { @class = "form-control", id = "txtStock" })
                </div>
            </div>
            <button type="submit" class="btn btn-success mb-2">Agregar</button>
            @Html.ActionLink("Cancelar", "MisInsumos", "Insumo", null, new { @class = "text-center btn btn-warning mb-2" })
            <div class="form-label-group text-danger">
                @ViewBag.ErrorInsertInsumo
            </div>
        }
    </div>
    <div class="col-lg-3"></div>
</div>

<script src="~/Scripts/scriptInsumos.js"></script>