@model IEnumerable<CanchasGambeta.Models.Insumo>
@using CanchasGambeta.Models;
@{var sesion = (Usuario)HttpContext.Current.Session["User"];}
@{
    ViewBag.Title = "MisInsumos";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="btn-group">
            <h3 class="text-center" style="color:white">INSUMOS</h3>
            <button id="btnModificarInsumos" class="btn btn-info ml-3 mb-3" onclick="botones()">Modificar insumos</button>
        </div>    
        @if (Model.Count() != 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Insumo
                        </th>
                        <th class="text-center">
                            Precio
                        </th>
                        <th class="text-center">
                            Stock
                        </th>
                        <th class="text-center acciones" style="display:none">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listado in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @listado.insumo1
                            </td>
                            <td class="text-center">
                                $@listado.precio
                            </td>
                            <td class="text-center">
                                @listado.stock
                            </td>
                            <td class="text-center acciones" style="display:none">
                                <div class="btn-group">
                                    <a href="@Url.Action("ModificarInsumo", "Insumo", new {idInsumo = listado.idInsumo})" class="btn btn-warning m-1">Modificar</a>
                                    @using (Html.BeginForm("EliminarInsumo", "Insumo", FormMethod.Post, new { onsubmit = "return confirmacionEliminarInsumo();" }))
                                    {
                                        <input type="hidden" name="idInsumo" value="@listado.idInsumo" />
                                        <button type="submit" class="btn btn-danger m-1">Eliminar</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-label-group text-danger" style="margin-left:10px">
                @ViewBag.ErrorEliminarInsumo
            </div>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            Insumos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            No hay insumos
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-5">
        <h4 class="p-1">Cargar nuevo insumo</h4>
        @using (Html.BeginForm("MisInsumos", "Insumo", FormMethod.Post, new { onsubmit = "return validacionNuevoInsumo();" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" id="txtInsumo" name="insumo" />
                </div>
                <div class="form-group">
                    <label class="control-label">Precio</label>
                    <input type="text" class="form-control" id="txtPrecio" name="precio" />
                </div>
                <div class="form-group">
                    <label class="control-label">Stock</label>
                    <input type="text" class="form-control" id="txtStock" name="stock" />
                </div>
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
            <div class="form-label-group text-danger" style="margin-left:10px">
                @ViewBag.ErrorInsertInsumo
            </div>
        }
    </div>
    <div class="col-md-1"></div>
</div>

<script src="~/Scripts/scriptInsumos.js"></script>

