@using CanchasGambeta.Models;
@{var sesion = (Usuario)HttpContext.Current.Session["User"];}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Canchas Gambeta</title>
    <!--Fuentes-->
    <link href="@Url.Content("~/fonts/font.family-Catamaran.css")" />
    <link href="@Url.Content("~/fonts/font.family-Lato.css")" />
    <!--CSS personalizado-->
    <link rel="stylesheet" href="@Url.Content("~/Content/one-page-wonder.min.css")" />
    <!--Bootstrap-->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
</head>

<body style="background-color: #1A1A1D">
    @if (sesion == null)
    {
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                @Html.ActionLink("Canchas Gambeta", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Registrarse", "Register", "Register", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Iniciar Sesion", "LogIn", "LogIn", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else if (sesion.rol == 1)
    {
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                @Html.ActionLink("Canchas Gambeta", "IndexAdministrador", "Administrador", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Pedidos", "MisPedidos", "Administrador", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Insumos", "MisInsumos", "Insumo", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Mi perfil", "PerfilAdministrador", "Administrador", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cerrar Sesión", null, "CerrarSesion", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                @Html.ActionLink("Canchas Gambeta", "IndexCliente", "Cliente", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Reservar", "MisReservas", "Reserva", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Mi perfil", "PerfilCliente", "Cliente", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cerrar Sesión", null, "CerrarSesion", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }

    <div class="body-content">
        @RenderBody()
        <!--<div class="row">
            <div class="col-md-12">
                <footer>
                    <p style="color:white">&copy; DateTime.Now.Year - Canchas Gambeta - Práctica Supervisada TUP UTN</p>
                </footer>
            </div>
        </div>-->
    </div>

    <!--<script src="~/Scripts/bootstrap.bundle.min.js"></script>-->
</body>
</html>