@model CanchasGambeta.ViewModels.ConcretarPedido
@{
    ViewBag.Title = "ConcretarPedido";

    string fecha = Model.FechaRealizado.ToString();
    string[] fechaSplit = fecha.Split(' ');
}

<div class="container">
    <div class="row" style="transform: translateY(60px); color: white">
        <div class="col-md-12 text-center">
            <h4>Concretar pedido N° @Model.IdPedido</h4>
        </div>
    </div>
</div>

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center">
        <h5>Detalles del pedido</h5>
        <table class="tablacustom">
            <thead>
                <tr>
                    <th class="text-center thfix">
                        Proveedor
                    </th>
                    <th class="text-center thfix">
                        Pedido el día
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        @Model.NombreProveedor 
                    </td>
                    <td class="text-center">
                        @fechaSplit[0]
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h5>Insumos pedidos</h5>
        <table class="tablacustom">
            <thead>
                <tr>
                    <th class="text-center thfix">
                        Insumo
                    </th>
                    <th class="text-center thfix">
                        Cantidad pedida
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaInsumosPedidos)
                {
                    <tr>
                        <td class="text-center">
                            @Html.HiddenFor(model => item.IdInsumo)
                            @item.Insumo
                        </td>
                        <td class="text-center">
                            @item.Cantidad
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <h5 class="text-center">Complete los siguinetes campos</h5>
        @using (Html.BeginForm("ConcretarPedido", "Pedido", FormMethod.Post, new { onsubmit = "return validacionConcretarPedido();", @name = "concretarPedido" }))
        {
            <input type="hidden" name="idPedido" value="@Model.IdPedido" />
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Fecha recibido</label>
                    @Html.TextBoxFor(model => model.FechaRecibido, "{0:yyyy-MM-dd}", htmlAttributes: new { @value = DateTime.Now, @type = "date", @class = "form-control" })
                </div>
            </div>
            <table class="tablacustom">
                <thead>
                    <tr>
                        <th class="text-center thfix">
                            Insumo
                        </th>
                        <th class="text-center thfix">
                            Cantidad recibida
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaCantidadesRecibidas)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="hidden" name="idInsumo" value="@item.IdInsumo" />
                                <input type="text" name="nombreInsumo" class="form-control" placeholder="@item.Insumo" value="@item.Insumo" readonly />
                            </td>
                            <td class="text-center cantidadRecibida">
                                <input type="number" name="cantidadRecibida" class="form-control" min="0" placeholder="@item.Cantidad" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-success mt-1">Concretar</button>
            @Html.ActionLink("Cancelar", "MisPedidos", "Pedido", null, new { @class = "text-center btn btn-warning mt-1" })
        }

    </div>
    <div class="col-md-1"></div>
</div>

<script src="~/Scripts/scriptPedidos.js"></script>


