@model CanchasGambeta.ViewModels.VistaInstrumentos
@{
    ViewBag.Title = "InstrumentosDisponibles";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h3 class="text-center">Instrumentos de Canchas gambeta</h3>
        @if (Model.TablaInstrumentosDisponibles.Count() != 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center thfix">
                            Instrumento
                        </th>
                        <th class="text-center thfix">
                            Adquirido el
                        </th>
                        <th class="text-center thfix">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listado in Model.TablaInstrumentosDisponibles)
                    {
                        string fecha = listado.FechaCompra.ToString();
                        string[] fechaSplit = fecha.Split(' ');
                        <tr>
                            <td class="text-center">
                                @listado.Instrumento
                            </td>
                            <td class="text-center">
                                @fechaSplit[0]
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    @using (Html.BeginForm("NuevoInstrumentoRoto", "Informe", FormMethod.Post, new { onsubmit = "return confirmacionNuevoInstrumentoRoto();" }))
                                    {
                                        <input type="hidden" name="idInstrumento" value="@listado.IdInstrumento" />
                                        <button type="submit" class="btn btn-danger m-1">Roto</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-label-group text-danger" style="margin-left:10px">
                @ViewBag.ErrorNuevoInstrumentoRoto
            </div>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center thfix">
                            Instrumentos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            No hay instrumentos
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h4 class="p-1">Ingrese los datos del nuevo instrumento</h4>
        @using (Html.BeginForm("NuevoInstrumento", "Informe", FormMethod.Post, new { onsubmit = "return validacionNuevoInstrumento();" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Instrumento</label>
                    <input type="text" class="form-control" id="txtInstrumento" name="Instrumento" />
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de adquisición</label>
                    <input type="date" class="form-control datepicker" id="txtFechaCompra" name="fechaCompra" />
                </div>
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
            <div class="form-label-group text-danger" style="margin-left:10px">
                @ViewBag.ErrorInsertInstrumento
            </div>
        }
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row" style="transform: translateY(70px); color: white">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3 class="text-center">Instrumentos rotos</h3>
        @if (Model.TablaInstrumentosRotos.Count() != 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center thfix">
                            Instrumento
                        </th>
                        <th class="text-center thfix">
                            Fecha rotura
                        </th>
                        <th class="text-center thfix">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listado in Model.TablaInstrumentosRotos)
                    {
                        string fecha = listado.FechaRotura.ToString();
                        string[] fechaSplit = fecha.Split(' ');
                        <tr>
                            <td class="text-center">
                                @listado.Instrumento
                            </td>
                            <td class="text-center">
                                @fechaSplit[0]
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    @using (Html.BeginForm("EliminarInstrumentoRoto", "Informe", FormMethod.Post, new { onsubmit = "return confirmacionEliminarInstrumentoRoto();" }))
                                    {
                                        <input type="hidden" name="idInstrumento" value="@listado.IdInstrumento" />
                                        <button type="submit" class="btn btn-primary m-1">Repuesto</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-label-group text-danger" style="margin-left:10px">
                @ViewBag.ErrorEliminarInstrumentoRoto
            </div>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center thfix">
                            Instrumentos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            No hay instrumentos rotos
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-1"></div>
</div>

<script src="~/Scripts/scriptInstrumentos.js"></script>

