@model CanchasGambeta.ViewModels.VistaReservasActivasYCanceladas
@{
    ViewBag.Title = "ReservasActivasYCanceladas";
    decimal precioTotal = 0;
}

<div class="row" style="transform: translateY(70px); color:white">
    <div class="col-md-6 text-center">
        <h3>Reservas activas hoy</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        Cliente
                    </th>
                    <th class="text-center">
                        Fecha
                    </th>
                    <th class="text-center">
                        Horario
                    </th>
                    <th class="text-center">
                        Cancha
                    </th>
                    <th class="text-center">
                        Servicio asador
                    </th>
                    <th class="text-center">
                        Servicio instrumentos
                    </th>
                    <th class="text-center">
                        Insumos reservados
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listado in Model.listaReservasActivas)
                {
                    string fecha = listado.Fecha.ToString();
                    string[] fechaSplit = fecha.Split(' ');
                    <tr class="text-center">
                        <td>
                            @listado.NombreCompleto
                        </td>
                        <td>
                            @fechaSplit[0]
                        </td>
                        <td>
                            @listado.Horario
                        </td>
                        <td>
                            @listado.TipoCancha
                        </td>
                        @if (listado.ServicioAsador == true)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        @if (listado.ServicioInstrumento == true)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            @foreach (var insumo in listado.ListaInsumosReserva)
                            {
                                if (insumo.cantidad > 0)
                                {
                                    @insumo.insumo1 <br />
                                    <bold>Cantidad: @insumo.cantidad</bold> <hr />
                                    precioTotal = precioTotal + insumo.precio * insumo.cantidad;
                                }

                            }
                            @if (precioTotal != 0)
                            {
                                <bold>Precio total: $@precioTotal</bold>
                            }
                            else
                            {
                                <bold>No hay insumos reservados</bold>
                            }
                            @{ precioTotal = 0;}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 text-center">
        <h3>Reservas canceladas hoy</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        Cliente
                    </th>
                    <th class="text-center">
                        Fecha
                    </th>
                    <th class="text-center">
                        Horario
                    </th>
                    <th class="text-center">
                        Cancha
                    </th>
                    <th class="text-center">
                        Servicio asador
                    </th>
                    <th class="text-center">
                        Servicio instrumentos
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listado in Model.listaReservasCanceladas)
                {
                    string fecha = listado.Fecha.ToString();
                    string[] fechaSplit = fecha.Split(' ');
                    <tr class="text-center">
                        <td>
                            @listado.NombreCompleto
                        </td>
                        <td>
                            @fechaSplit[0]
                        </td>
                        <td>
                            @listado.Horario
                        </td>
                        <td>
                            @listado.TipoCancha
                        </td>
                        @if (listado.ServicioAsador == true)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        @if (listado.ServicioInstrumento == true)
                        {
                            <td>Si</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

