@model CanchasGambeta.ViewModels.VistaPedirInsumos
@{
    ViewBag.Title = "AgregarInsumosAlPedido";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h4>Insumos a pedir</h4>
        @using (Html.BeginForm("AgregarInsumosAlPedido", "Administrador", FormMethod.Post, new { onsubmit = "" }))
        {
            <div class="form-horizontal">
                <div class="col-md-12 form-group btn-group">
                    <input type="text" id="nombreInsumo" name="nombreInsumo" class="form-control" />
                    <button type="submit" class="btn btn-primary ml-2" id="botonBuscar">Buscar</button>
                </div>
            </div>
            <div class="form-label-group text-danger pb-2">
                @ViewBag.ErrorBuscarInsumo
            </div>

            if (Model.BuscarInsumos.Count != 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Insumo
                            </th>
                            <th class="text-center">
                                Cantidad
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listado in Model.BuscarInsumos)
                        {
                            <tr>
                                <td style="display:none">
                                    <input type="hidden" name="listaIdInsumo" value="@listado.IdInsumo" />
                                </td>
                                <td class="text-center">
                                    <input type="text" name="listaNombreInsumo" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                                </td>
                                <td class="text-center">
                                    <input type="number" name="cantidadInsumo" id="idCantidadInsumo" class="form-control cantidadInsumo" min="0" placeholder="0" style="width:70px;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-info" onclick="agregarInsumoAPedido();">Agregar al pedido</button>
                <div class="form-label-group text-danger pb-2">
                    @ViewBag.NoSeModificaronCantidades
                </div>
                <div style="display:none">
                    @foreach (var listado in Model.InsumosAPedir)
                    {
                        <input type="hidden" name="listaIdInsumoAlPedido" value="@listado.IdInsumo" />
                        <input type="text" name="listaNombreInsumoAlPedido" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                        <input type="number" name="listaCantidadInsumoAlPedido" class="form-control cantidadInsumo" min="0" value="@listado.Cantidad" readonly style="width:70px;" />
                    }
                </div>
            }
            else
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Insumo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                No existe este insumo
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    @foreach (var listado in Model.InsumosAPedir)
                    {
                        <input type="hidden" name="listaIdInsumoAlPedido" value="@listado.IdInsumo" />
                        <input type="hidden" name="listaNombreInsumoAlPedido" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                        <input type="hidden" name="listaCantidadInsumoAlPedido" class="form-control cantidadInsumo" min="0" value="@listado.Cantidad" readonly style="width:70px;" />
                    }
                </div>
            }
        }
    </div>
    <div class="col-md-5">
        <h4>Lista final de insumos y cantidades</h4>
        @using (Html.BeginForm("AgregarInsumos", "Administrador", FormMethod.Post, new { onsubmit = "" }))
        {
            if (Model.InsumosAPedir.Count != 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Insumo
                            </th>
                            <th class="text-center">
                                Cantidad
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listado in Model.InsumosAPedir)
                        {
                        <tr>
                            <td style="display:none">
                                <input type="hidden" name="listaIdInsumoAlPedido" value="@listado.IdInsumo" />
                            </td>
                            <td class="text-center">
                                <input type="text" name="listaNombreInsumoAlPedido" class="form-control nombreInsumo" placeholder="@listado.Insumo" value="@listado.Insumo" readonly />
                            </td>
                            <td class="text-center">
                                <input type="number" name="listaCantidadInsumoAlPedido" id="idCantidadInsumo" class="form-control cantidadInsumo" min="0" placeholder="@listado.Cantidad" readonly style="width:70px;" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success">Finalizar</button>
            }
            else
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Insumo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                No hay insumos guardados todavía
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    </div>
    <div class="col-md-1"></div>
</div>

<script src="~/Scripts/scriptAgregarInsumosAlPedido.js"></script>

