@using CanchasGambeta.Models;
@{var sesion = (Usuario)HttpContext.Current.Session["User"];}
@{
    ViewBag.Title = "PerfilAdministrador";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center">Mi perfil</h3>
        <table class="table table-border">
            <tr>
                <th class="text-center">
                    Nombre
                </th>
                <td>
                    <input type="text" class="form-control" name="txtNombreCompleto" id="txtNombreCompleto" placeholder="@sesion.nombreCompleto" readonly />
                </td>
            </tr>
            <tr>
                <th class="text-center">
                    Correo Electrónico
                </th>
                <td>
                    <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="@sesion.email" readonly />
                </td>
            </tr>
            <tr>
                <th class="text-center">
                    Teléfono
                </th>
                <td>
                    <input type="text" class="form-control" name="txtTelefono" id="txtTelefono" placeholder="@sesion.telefono" readonly />
                </td>
            </tr>
            <tr>
                <th class="text-center">
                    Contraseña
                </th>
                <td>
                    <input type="password" class="form-control" name="txtPassword" id="txtPassword" value="@sesion.password" readonly />
                </td>
            </tr>
        </table>
        <div>
            @Html.ActionLink("Modificar perfil", "ModificarPerfilAdministrador", "Administrador", null, new { @class = "text-center btn btn-warning" })
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

