@model CanchasGambeta.Models.Email
@{
    ViewBag.Title = "ModificarIntegrante";
}

<div class="row" style="transform: translateY(60px); color: white">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Modifique el correo electrónico del integrante</h3>
        @using (Html.BeginForm("ModificarIntegrante", "Equipo", FormMethod.Post, new { onsubmit = "return validacionModificarIntegrante();" }))
        {
            @Html.HiddenFor(Model => Model.idEmail)
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Correo electrónico</label>
                    <input type="hidden" id="txtEmailOriginal" value="@Model.email1" />
                    @Html.TextBoxFor(Model => Model.email1, htmlAttributes: new { @class = "form-control", id = "txtEmail" })
                </div>
                <div class="form-group text-left">
                    <button class="btn btn-success" type="submit">
                        Confirmar cambios
                    </button>
                    @Html.ActionLink("Cancelar", "MiEquipo", "Equipo", null, new { @class = "text-center btn btn-warning" })
                </div>
                <div class="form-label-group text-danger">
                    @ViewBag.ErrorModificar
                </div>
            </div>
        }
    </div>
    <div class="col-md-4"></div>
</div>

<script src="~/Scripts/scriptEquipo.js"></script>